In [1]:
a=input('Enter a value: ') #always returns string
print('The given value is '+a)
print(type(a))

The given value is 7
<class 'str'>

In [ ]:
a = int(input('Enter a number: '))
print('The given value is', a + 11)   # Use comma to separate values
print('test', a)                      # Works fine
print('test2:' + str(a))              # Convert int to string before concatenation
print(type(a))                        # Shows <class 'int'>

Enter a number: 5
The given value is 16
test 5
test2:5
<class 'int'>

In [ ]:
while True:
  a=input('Enter your Birth Year:')
  if a.isdigit():
    print('You are ' + str(2026-int(a)) + ' years old')
    print(2026-int(a))
    break
  print('WRONG INPUT')

Enter your Birth Year:2003
You are 23 years old
23

In [ ]:
i=2
if i<5:
 print('okay')
 print('fine')
else:
  print('bad')
  print('not okay')

okay
fine

In [ ]:
x=int(input("Please enter an integer: "))
if x<0:
  x=0
  print('Negative changed to zero')
elif x==0:
  print('Zero')
elif x==1:
  print('Single')
else:
  print('More')

Please enter an integer: 3
More

In [2]:
words = ['cat','window','dhaka','jack']
for w in words:
  print(w,len(w))

cat 3
window 6
dhaka 5
jack 4

In [ ]:
for i in range(0,len(words),2):
  print(i,words[i],len(words[i]))

0 cat 3
2 dhaka 5

In [ ]:
#for(i=0;i<5;i++)
for i in range(5):
  print(i)

0
1
2
3
4

In [ ]:
list(range(5,10))

[5, 6, 7, 8, 9]

In [ ]:
list(range(0,10,3))

[0, 3, 6, 9]

In [ ]:
list(range(10,2,-1))

[10, 9, 8, 7, 6, 5, 4, 3]

In [ ]:
list(range(-10,-100,-30))

[-10, -40, -70]

In [ ]:
country="bangladesh"
for c in country:
  print(c,end=',')

b,a,n,g,l,a,d,e,s,h,

In [ ]:
country[0]

'b'

In [ ]:
def operate(a,b):
  print(str(a) + ' + ' + str(b) + ' = ' + str(a+b))
  print(str(a) + ' - ' + str(b) + ' = ' + str(a-b))
  print(str(a) + ' x ' + str(b) + ' = ' + str(a*b))
  print(str(a) + ' / ' + str(b) + ' = ' + str(a/b))

In [ ]:
operate(91,5)

91 + 5 = 96
91 - 5 = 86
91 x 5 = 455
91 / 5 = 18.2

In [ ]:
def fib(n):
  """Print a Fibonacci series up to n."""
  a,b=0,1
  while a<n:
    print(a, end=' ')
    a,b=b,a+b
    #print()

In [ ]:
fib(100)

0 1 1 2 3 5 8 13 21 34 55 89

In [ ]:
def addnumbers(a,b):
  c=a+b
  return c

In [ ]:
print(addnumbers(5.5,7))

12.5

In [ ]:
y=addnumbers('8ppp','9')
print(y)

8ppp9

In [ ]:
addnumbers([33,77],[66,99])

[33, 77, 66, 99]

In [ ]:
def addValues(num):
  sum=0
  for n in num:
    sum=sum+n
  return sum

In [ ]:
addValues((9,7,5))

21

In [ ]:
v=[5,4,12,7]
addValues(v)

28